* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(83, 81, 81);
}
.header {
  background-color: brown;
  padding: 15px;
}
h2 {
  text-align: center;
  background-color: azure;
  font-size: 30px;
}
.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.left {
  height: 300px;
  width: 100;
  background-color: aqua;
  padding: 10px;
}
.right {
  height: 300px;
  width: 100;
  background-color: blue;
  padding: 10px;
}
